<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo de Criptomoedas</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/adicionar.css">
    <link rel="shortcut icon" href="../static/img/Bitcoin-icon.webp" type="image/x-icon">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
</head>
<body>

    {% include 'header.html' %}
    <div class="bloco">
        <h2>Adicionar Criptomoedas</h2>
    </div>

    {% if id_atribuido %}
    <div class="bloco">
        <p>Criptomoeda adicionada com sucesso! <br>
        <br>
        O ID atribuído a Cripto foi: <span class="id_atribuido">{{id_atribuido}}</span>.<br>
        <br>
        <a href="/ler/{{id_atribuido}}" class="botao">Visualizar essa Criptomoeda</a>
        </p>
    </div>
    {% else %}

    <div class="bloco">
        <br>
        <br>

        <form class="form" method="POST">

            <div class="bloco_form">
                <div class="bloco form_input">
                    <label for="nome">Nome: </label>
                    <input type="text" id="nome" name="nome">
                </div>

                <div class="bloco form_input">
                    <label for="simbolo">Simbolo: </label>
                    <input type="text" id="simbolo" name="simbolo">
                </div>

                <div class="bloco form_input">
                    <label for="imagem_url">URL da imagem: </label>
                    <input type="text" id="imagem_url" name="imagem_url">
                </div>

                <div class="bloco form_input">
                    <label for="descricao">Descrição da Cripto:  </label>
                    <input type="text" id="descricao" name="descricao">
                </div>
            </div>

            <div class="bloco form_input">
                <input type="submit" class="botao" value="Cadastrar">
            </div>

        </form>

        {% endif %}
    </div>
    <br>
    <br>
    <br>
    <br>
    <hr>
    {% include 'footer.html' %}
</body>
</html>