<div class="header">
    <link rel="stylesheet" href="../static/style.css">
    <div class="bloco">
        <img  src="/static/img/criptos-logo.png" alt="Criptomoedas" class="logo" >
    </div>

    <div class="bloco">
        <h2>Principais Criptomoedas do Mercado.</h2>
    </div>

    <div class="bloco botoes">
        <a href="/adicionar" class="botao">Adicionar Criptomoedas</a>
        <a href="/ler_todos" class="botao botao3">Visualizar todas as Criptomoedas</a>
    </div>

    <br>
    <span></span>
</div>