<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo de Criptomoedas</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/img/Bitcoin-icon.webp" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>

    {% include 'header.html' %}
    <main>
        <div>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>